$primary-text-color: #212121;
$secondary-text-color: #757575;
$title-text-color: #FFFFFF;
$accent-color: #2196F3 ;
$footer-color: #2F303A;
$section-background: #F5F4FA;
$footer-list-color: rgba(255, 255, 255, 0.6);
$border-color: #EEEEEE;
$border-bottom-color: #ECECEC;
$color-icon: #afb1b8;
$color-icon-close: #000000;
$btn-hover-color: #188CE8;
$time: 250ms;
$function-animation: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-primary: Roboto, sans-serif;
$font-family-secondary: Raleway, sans-serif;